# .gitignore

# env
/include/
/lib/
/bin/
.DS_Store
settings.json
credential.json
refresh_token.json
credentials.json


# logs and cache
log
__pycache__

# local settings
service-account.json

# files
*.log
driver
files

# after delete
get_gmail.py